body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:625px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:37px;
  background:inherit;
  background-color:rgba(66, 139, 202, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u23015 {
  position:absolute;
  left:25px;
  top:25px;
  width:75px;
  height:37px;
  color:#FFFFFF;
}
#u23016 {
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u23017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:37px;
  background:inherit;
  background-color:rgba(228, 231, 234, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#75808B;
}
#u23017 {
  position:absolute;
  left:110px;
  top:25px;
  width:125px;
  height:37px;
  color:#75808B;
}
#u23018 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u23019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23019 {
  position:absolute;
  left:25px;
  top:75px;
  width:600px;
  height:40px;
}
#u23020 {
  position:absolute;
  left:2px;
  top:12px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23021 {
  position:absolute;
  left:25px;
  top:115px;
  width:600px;
  height:40px;
}
#u23022 {
  position:absolute;
  left:2px;
  top:12px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23023 {
  position:absolute;
  left:25px;
  top:153px;
  width:600px;
  height:40px;
}
#u23024 {
  position:absolute;
  left:2px;
  top:12px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23025 {
  position:absolute;
  left:41px;
  top:89px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23026 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23027 {
  position:absolute;
  left:25px;
  top:192px;
  width:600px;
  height:40px;
}
#u23028 {
  position:absolute;
  left:2px;
  top:12px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23029 {
  position:absolute;
  left:25px;
  top:230px;
  width:600px;
  height:40px;
}
#u23030 {
  position:absolute;
  left:2px;
  top:12px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23031 {
  position:absolute;
  left:25px;
  top:192px;
  width:600px;
  height:40px;
}
#u23032 {
  position:absolute;
  left:2px;
  top:12px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23033 {
  position:absolute;
  left:25px;
  top:230px;
  width:600px;
  height:40px;
}
#u23034 {
  position:absolute;
  left:2px;
  top:12px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23035 {
  position:absolute;
  left:577px;
  top:89px;
  width:27px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23036 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u23037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#428BCA;
}
#u23037 {
  position:absolute;
  left:577px;
  top:125px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#428BCA;
}
#u23038 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u23039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#428BCA;
}
#u23039 {
  position:absolute;
  left:577px;
  top:165px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#428BCA;
}
#u23040 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u23041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#428BCA;
}
#u23041 {
  position:absolute;
  left:577px;
  top:205px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#428BCA;
}
#u23042 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u23043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
  color:#428BCA;
}
#u23043 {
  position:absolute;
  left:577px;
  top:245px;
  width:27px;
  height:16px;
  text-decoration:underline;
  color:#428BCA;
}
#u23044 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u23045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23045 {
  position:absolute;
  left:41px;
  top:125px;
  width:61px;
  height:16px;
}
#u23046 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u23047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23047 {
  position:absolute;
  left:41px;
  top:165px;
  width:92px;
  height:16px;
}
#u23048 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u23049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23049 {
  position:absolute;
  left:41px;
  top:205px;
  width:55px;
  height:16px;
}
#u23050 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u23051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23051 {
  position:absolute;
  left:41px;
  top:243px;
  width:80px;
  height:16px;
}
#u23052 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u23053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:16px;
}
#u23053 {
  position:absolute;
  left:98px;
  top:91px;
  width:18px;
  height:16px;
}
#u23054 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23055 {
  position:absolute;
  left:298px;
  top:89px;
  width:53px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23056 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u23057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23057 {
  position:absolute;
  left:298px;
  top:125px;
  width:66px;
  height:16px;
}
#u23058 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u23059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23059 {
  position:absolute;
  left:298px;
  top:165px;
  width:66px;
  height:16px;
}
#u23060 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u23061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23061 {
  position:absolute;
  left:298px;
  top:205px;
  width:66px;
  height:16px;
}
#u23062 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u23063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23063 {
  position:absolute;
  left:298px;
  top:243px;
  width:66px;
  height:16px;
}
#u23064 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u23065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:512px;
  height:477px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23065 {
  position:absolute;
  left:25px;
  top:293px;
  width:512px;
  height:477px;
}
#u23066 {
  position:absolute;
  left:2px;
  top:230px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23067 {
  position:absolute;
  left:33px;
  top:305px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u23068 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u23069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(35, 192, 250, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23069 {
  position:absolute;
  left:426px;
  top:723px;
  width:80px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u23070 {
  position:absolute;
  left:16px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u23071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(217, 217, 217, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u23071 {
  position:absolute;
  left:336px;
  top:723px;
  width:80px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:21px;
}
#u23072 {
  position:absolute;
  left:16px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u23073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23073 {
  position:absolute;
  left:30px;
  top:376px;
  width:57px;
  height:16px;
}
#u23074 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u23075 {
  position:absolute;
  left:121px;
  top:369px;
  width:300px;
  height:30px;
}
#u23075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u23076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u23076 {
  position:absolute;
  left:121px;
  top:409px;
  width:225px;
  height:16px;
  color:#999999;
}
#u23077 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u23078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23078 {
  position:absolute;
  left:30px;
  top:441px;
  width:71px;
  height:16px;
}
#u23079 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u23080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:2px;
}
#u23080 {
  position:absolute;
  left:25px;
  top:712px;
  width:512px;
  height:1px;
}
#u23081 {
  position:absolute;
  left:2px;
  top:-8px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:513px;
  height:2px;
}
#u23082 {
  position:absolute;
  left:25px;
  top:332px;
  width:512px;
  height:1px;
}
#u23083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:508px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u23084 {
  position:absolute;
  left:510px;
  top:305px;
  width:9px;
  height:16px;
}
#u23085 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u23086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:257px;
}
#u23086 {
  position:absolute;
  left:114px;
  top:435px;
  width:386px;
  height:257px;
}
#u23087 {
  position:absolute;
  left:2px;
  top:120px;
  width:382px;
  visibility:hidden;
  word-wrap:break-word;
}
