body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1357px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:704px;
}
#u245 {
  position:absolute;
  left:0px;
  top:0px;
  width:1357px;
  height:704px;
}
#u246 {
  position:absolute;
  left:2px;
  top:344px;
  width:1353px;
  visibility:hidden;
  word-wrap:break-word;
}
