body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19256 {
  position:absolute;
  left:180px;
  top:0px;
  width:1070px;
  height:50px;
}
#u19257 {
  position:absolute;
  left:2px;
  top:17px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1390px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19258 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1390px;
  opacity:0.5;
  text-align:left;
}
#u19259 {
  position:absolute;
  left:2px;
  top:1372px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:1390px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19260 {
  position:absolute;
  left:1238px;
  top:0px;
  width:12px;
  height:1390px;
  text-align:left;
}
#u19261 {
  position:absolute;
  left:2px;
  top:1372px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u19262 {
  position:absolute;
  left:972px;
  top:15px;
  width:33px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u19263 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u19264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19264 {
  position:absolute;
  left:940px;
  top:17px;
  width:29px;
  height:20px;
  font-size:14px;
}
#u19265 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19266 {
  position:absolute;
  left:1179px;
  top:15px;
  width:29px;
  height:20px;
  font-size:14px;
}
#u19267 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19268 {
  position:absolute;
  left:51px;
  top:78px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19269 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19270 {
  position:absolute;
  left:51px;
  top:125px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19271 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19272 {
  position:absolute;
  left:51px;
  top:260px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19273 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u19274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19274 {
  position:absolute;
  left:51px;
  top:515px;
  width:82px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19275 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19276 {
  position:absolute;
  left:50px;
  top:616px;
  width:82px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19277 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19278 {
  position:absolute;
  left:24px;
  top:514px;
  width:22px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19279 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u19280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:34px;
}
#u19280 {
  position:absolute;
  left:0px;
  top:569px;
  width:180px;
  height:34px;
}
#u19281 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19282 {
  position:absolute;
  left:53px;
  top:547px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19283 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19284 {
  position:absolute;
  left:53px;
  top:578px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19285 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19286 {
  position:absolute;
  left:50px;
  top:660px;
  width:82px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19287 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:51px;
}
#u19288 {
  position:absolute;
  left:-10px;
  top:0px;
  width:190px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19289 {
  position:absolute;
  left:2px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
#u19290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19290 {
  position:absolute;
  left:24px;
  top:74px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19291 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19292 {
  position:absolute;
  left:24px;
  top:121px;
  width:22px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19293 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u19294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19294 {
  position:absolute;
  left:23px;
  top:260px;
  width:18px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19295 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u19296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19296 {
  position:absolute;
  left:24px;
  top:613px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19297 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19298 {
  position:absolute;
  left:23px;
  top:659px;
  width:22px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19299 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u19300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19300 {
  position:absolute;
  left:53px;
  top:291px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19301 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19302 {
  position:absolute;
  left:53px;
  top:325px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19303 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19304 {
  position:absolute;
  left:53px;
  top:356px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19305 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19306 {
  position:absolute;
  left:53px;
  top:693px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19307 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19308 {
  position:absolute;
  left:53px;
  top:754px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19309 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19310 {
  position:absolute;
  left:53px;
  top:785px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19311 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19312 {
  position:absolute;
  left:53px;
  top:845px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19313 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19314 {
  position:absolute;
  left:53px;
  top:904px;
  width:50px;
  height:16px;
  font-size:14px;
}
#u19315 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u19316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19316 {
  position:absolute;
  left:53px;
  top:935px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19317 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19318 {
  position:absolute;
  left:53px;
  top:157px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u19319 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19320 {
  position:absolute;
  left:53px;
  top:191px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19321 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19322 {
  position:absolute;
  left:53px;
  top:996px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19323 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19324 {
  position:absolute;
  left:53px;
  top:814px;
  width:66px;
  height:16px;
  font-size:14px;
}
#u19325 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u19326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19326 {
  position:absolute;
  left:53px;
  top:724px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19327 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19328 {
  position:absolute;
  left:1040px;
  top:5px;
  width:90px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19329 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u19330 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19331 {
  position:absolute;
  left:1040px;
  top:49px;
  width:90px;
  height:40px;
}
#u19332 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u19333_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19333 {
  position:absolute;
  left:1040px;
  top:88px;
  width:90px;
  height:40px;
}
#u19334 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u19335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19335 {
  position:absolute;
  left:1040px;
  top:0px;
  width:90px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19336 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u19337_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19337 {
  position:absolute;
  left:51px;
  top:385px;
  width:82px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19338 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u19339_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:34px;
}
#u19339 {
  position:absolute;
  left:0px;
  top:439px;
  width:180px;
  height:34px;
}
#u19340 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19341 {
  position:absolute;
  left:53px;
  top:417px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u19342 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19343 {
  position:absolute;
  left:53px;
  top:448px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u19344 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19345 {
  position:absolute;
  left:29px;
  top:383px;
  width:12px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19346 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u19347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19347 {
  position:absolute;
  left:53px;
  top:223px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u19348 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19349_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19349 {
  position:absolute;
  left:149px;
  top:222px;
  width:26px;
  height:16px;
  color:#FF0000;
}
#u19350 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u19351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19351 {
  position:absolute;
  left:149px;
  top:385px;
  width:26px;
  height:16px;
  color:#FF0000;
}
#u19352 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u19353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000099;
}
#u19353 {
  position:absolute;
  left:53px;
  top:1088px;
  width:79px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000099;
}
#u19354 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u19355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000099;
}
#u19355 {
  position:absolute;
  left:53px;
  top:1114px;
  width:105px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000099;
}
#u19356 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u19357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:2px;
}
#u19357 {
  position:absolute;
  left:29px;
  top:1069px;
  width:139px;
  height:1px;
}
#u19358 {
  position:absolute;
  left:2px;
  top:-8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19359_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:2px;
}
#u19359 {
  position:absolute;
  left:29px;
  top:1147px;
  width:139px;
  height:1px;
}
#u19360 {
  position:absolute;
  left:2px;
  top:-8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19361 {
  position:absolute;
  left:53px;
  top:966px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19362 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19363 {
  position:absolute;
  left:149px;
  top:935px;
  width:26px;
  height:16px;
  color:#FF0000;
}
#u19364 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u19365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19365 {
  position:absolute;
  left:53px;
  top:876px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u19366 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u19367 {
  position:absolute;
  left:149px;
  top:876px;
  width:26px;
  height:16px;
  color:#FF0000;
}
#u19368 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u19369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u19369 {
  position:absolute;
  left:53px;
  top:477px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u19370 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u19371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19371 {
  position:absolute;
  left:209px;
  top:86px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u19372 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19373 {
  position:absolute;
  left:209px;
  top:162px;
  width:629px;
  height:71px;
}
#u19374 {
  position:absolute;
  left:2px;
  top:28px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19375 {
  position:absolute;
  left:220px;
  top:172px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19376 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19377 {
  position:absolute;
  left:209px;
  top:231px;
  width:629px;
  height:71px;
}
#u19378 {
  position:absolute;
  left:2px;
  top:28px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19379 {
  position:absolute;
  left:220px;
  top:243px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19380 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19381 {
  position:absolute;
  left:220px;
  top:198px;
  width:155px;
  height:16px;
  color:#999999;
}
#u19382 {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u19383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19383 {
  position:absolute;
  left:220px;
  top:270px;
  width:183px;
  height:16px;
  color:#999999;
}
#u19384 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u19385 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u19386_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:22px;
  background:inherit;
  background-color:rgba(135, 208, 104, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u19386 {
  position:absolute;
  left:282px;
  top:124px;
  width:45px;
  height:22px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u19387 {
  position:absolute;
  left:8px;
  top:2px;
  width:35px;
  word-wrap:break-word;
}
#u19388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u19388 {
  position:absolute;
  left:307px;
  top:126px;
  width:18px;
  height:18px;
  text-align:left;
}
#u19389 {
  position:absolute;
  left:8px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19390_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19390 {
  position:absolute;
  left:209px;
  top:127px;
  width:57px;
  height:16px;
}
#u19391 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u19392 {
  position:absolute;
  left:778px;
  top:198px;
  width:45px;
  height:16px;
  color:#0000FF;
}
#u19393 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u19394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u19394 {
  position:absolute;
  left:778px;
  top:270px;
  width:45px;
  height:16px;
  color:#0000FF;
}
#u19395 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u19396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:141px;
}
#u19396 {
  position:absolute;
  left:897px;
  top:162px;
  width:140px;
  height:140px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19397 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  word-wrap:break-word;
}
#u19398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:141px;
}
#u19398 {
  position:absolute;
  left:1056px;
  top:162px;
  width:140px;
  height:140px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19399 {
  position:absolute;
  left:2px;
  top:62px;
  width:136px;
  word-wrap:break-word;
}
#u19400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19400 {
  position:absolute;
  left:932px;
  top:312px;
  width:71px;
  height:16px;
}
#u19401 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u19402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19402 {
  position:absolute;
  left:1094px;
  top:312px;
  width:65px;
  height:16px;
}
#u19403 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u19404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19404 {
  position:absolute;
  left:897px;
  top:127px;
  width:139px;
  height:16px;
}
#u19405 {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  white-space:nowrap;
}
#u19406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:71px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19406 {
  position:absolute;
  left:209px;
  top:301px;
  width:629px;
  height:71px;
}
#u19407 {
  position:absolute;
  left:2px;
  top:28px;
  width:625px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19408 {
  position:absolute;
  left:220px;
  top:313px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19409 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u19410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u19410 {
  position:absolute;
  left:220px;
  top:340px;
  width:351px;
  height:16px;
  color:#999999;
}
#u19411 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
#u19412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u19412 {
  position:absolute;
  left:778px;
  top:340px;
  width:45px;
  height:16px;
  color:#0000FF;
}
#u19413 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
