body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1000px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u41 {
  position:absolute;
  left:481px;
  top:30px;
  width:82px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  white-space:nowrap;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:170px;
}
#u43 {
  position:absolute;
  left:269px;
  top:170px;
  width:162px;
  height:170px;
}
#u44 {
  position:absolute;
  left:2px;
  top:77px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:792px;
  top:174px;
  width:62px;
  height:19px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u47 {
  position:absolute;
  left:851px;
  top:170px;
  width:100px;
  height:22px;
}
#u48 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:792px;
  top:221px;
  width:62px;
  height:19px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u51 {
  position:absolute;
  left:851px;
  top:217px;
  width:100px;
  height:22px;
}
#u52 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53 {
  position:absolute;
  left:338px;
  top:612px;
  width:392px;
  height:16px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  word-wrap:break-word;
}
#u55_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55 {
  position:absolute;
  left:792px;
  top:261px;
  width:62px;
  height:19px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
}
#u57 {
  position:absolute;
  left:851px;
  top:294px;
  width:100px;
  height:22px;
}
#u58 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u59 {
  position:absolute;
  left:851px;
  top:259px;
  width:100px;
  height:22px;
}
#u60 {
  position:absolute;
  left:2px;
  top:3px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:272px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
}
#u61 {
  position:absolute;
  left:80px;
  top:128px;
  width:920px;
  height:272px;
  opacity:0.300000011920929;
  color:#CCCCCC;
}
#u62 {
  position:absolute;
  left:2px;
  top:128px;
  width:916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:793px;
  top:360px;
  width:79px;
  height:25px;
}
#u63_input {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u64 {
  position:absolute;
  left:882px;
  top:360px;
  width:69px;
  height:25px;
}
#u64_input {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
