body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1180px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19280 {
  position:absolute;
  left:403px;
  top:280px;
  width:175px;
  height:290px;
}
#u19281 {
  position:absolute;
  left:2px;
  top:137px;
  width:171px;
  word-wrap:break-word;
}
#u19282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19282 {
  position:absolute;
  left:601px;
  top:280px;
  width:175px;
  height:290px;
}
#u19283 {
  position:absolute;
  left:2px;
  top:137px;
  width:171px;
  word-wrap:break-word;
}
#u19284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:321px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19284 {
  position:absolute;
  left:205px;
  top:280px;
  width:175px;
  height:321px;
}
#u19285 {
  position:absolute;
  left:2px;
  top:152px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19286 {
  position:absolute;
  left:800px;
  top:280px;
  width:175px;
  height:290px;
}
#u19287 {
  position:absolute;
  left:2px;
  top:137px;
  width:171px;
  word-wrap:break-word;
}
#u19288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19288 {
  position:absolute;
  left:1005px;
  top:280px;
  width:175px;
  height:290px;
}
#u19289 {
  position:absolute;
  left:2px;
  top:137px;
  width:171px;
  word-wrap:break-word;
}
#u19290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19290 {
  position:absolute;
  left:403px;
  top:569px;
  width:175px;
  height:32px;
}
#u19291 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19292 {
  position:absolute;
  left:506px;
  top:575px;
  width:17px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19293 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u19294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19294 {
  position:absolute;
  left:550px;
  top:575px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19295 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19296 {
  position:absolute;
  left:601px;
  top:569px;
  width:175px;
  height:32px;
}
#u19297 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19298 {
  position:absolute;
  left:704px;
  top:575px;
  width:17px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19299 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u19300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19300 {
  position:absolute;
  left:748px;
  top:575px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19301 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:9px;
}
#u19302 {
  position:absolute;
  left:607px;
  top:581px;
  width:19px;
  height:9px;
}
#u19303 {
  position:absolute;
  left:2px;
  top:-4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19304 {
  position:absolute;
  left:458px;
  top:574px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19305 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u19306 {
  position:absolute;
  left:281px;
  top:411px;
  width:23px;
  height:29px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
#u19307 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u19308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19308 {
  position:absolute;
  left:264px;
  top:454px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19309 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u19310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19310 {
  position:absolute;
  left:800px;
  top:569px;
  width:175px;
  height:32px;
}
#u19311 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19312 {
  position:absolute;
  left:903px;
  top:575px;
  width:17px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19313 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u19314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:9px;
}
#u19314 {
  position:absolute;
  left:806px;
  top:581px;
  width:19px;
  height:9px;
}
#u19315 {
  position:absolute;
  left:2px;
  top:-4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19316 {
  position:absolute;
  left:1005px;
  top:569px;
  width:175px;
  height:32px;
}
#u19317 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19318 {
  position:absolute;
  left:1108px;
  top:575px;
  width:17px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19319 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u19320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19320 {
  position:absolute;
  left:1058px;
  top:575px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19321 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19322 {
  position:absolute;
  left:659px;
  top:574px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19323 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19324 {
  position:absolute;
  left:856px;
  top:574px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19325 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u19326 {
  position:absolute;
  left:527px;
  top:280px;
  width:51px;
  height:51px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19327 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19328 {
  position:absolute;
  left:545px;
  top:287px;
  width:33px;
  height:19px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19329 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u19330 {
  position:absolute;
  left:725px;
  top:280px;
  width:51px;
  height:51px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19331 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u19332 {
  position:absolute;
  left:924px;
  top:280px;
  width:51px;
  height:51px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u19333 {
  position:absolute;
  left:2px;
  top:18px;
  width:47px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19334 {
  position:absolute;
  left:743px;
  top:288px;
  width:33px;
  height:19px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19335 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19336 {
  position:absolute;
  left:942px;
  top:289px;
  width:33px;
  height:19px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u19337 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u19338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19338 {
  position:absolute;
  left:205px;
  top:620px;
  width:175px;
  height:290px;
}
#u19339 {
  position:absolute;
  left:2px;
  top:137px;
  width:171px;
  word-wrap:break-word;
}
#u19340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19340 {
  position:absolute;
  left:205px;
  top:909px;
  width:175px;
  height:32px;
}
#u19341 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19342 {
  position:absolute;
  left:308px;
  top:915px;
  width:17px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19343 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u19344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19344 {
  position:absolute;
  left:258px;
  top:915px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19345 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19346 {
  position:absolute;
  left:403px;
  top:620px;
  width:175px;
  height:290px;
}
#u19347 {
  position:absolute;
  left:2px;
  top:137px;
  width:171px;
  word-wrap:break-word;
}
#u19348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19348 {
  position:absolute;
  left:403px;
  top:909px;
  width:175px;
  height:32px;
}
#u19349 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19350 {
  position:absolute;
  left:506px;
  top:915px;
  width:17px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19351 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u19352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19352 {
  position:absolute;
  left:456px;
  top:915px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19353 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19354 {
  position:absolute;
  left:601px;
  top:620px;
  width:175px;
  height:290px;
}
#u19355 {
  position:absolute;
  left:2px;
  top:137px;
  width:171px;
  word-wrap:break-word;
}
#u19356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19356 {
  position:absolute;
  left:601px;
  top:909px;
  width:175px;
  height:32px;
}
#u19357 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19358 {
  position:absolute;
  left:704px;
  top:915px;
  width:17px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19359 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u19360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19360 {
  position:absolute;
  left:654px;
  top:915px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19361 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19362 {
  position:absolute;
  left:800px;
  top:620px;
  width:175px;
  height:290px;
}
#u19363 {
  position:absolute;
  left:2px;
  top:137px;
  width:171px;
  word-wrap:break-word;
}
#u19364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19364 {
  position:absolute;
  left:800px;
  top:909px;
  width:175px;
  height:32px;
}
#u19365 {
  position:absolute;
  left:2px;
  top:8px;
  width:171px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19366 {
  position:absolute;
  left:903px;
  top:915px;
  width:17px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19367 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u19368_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19368 {
  position:absolute;
  left:853px;
  top:915px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u19369 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u19370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u19370 {
  position:absolute;
  left:412px;
  top:285px;
  width:23px;
  height:25px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u19371 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u19372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u19372 {
  position:absolute;
  left:607px;
  top:285px;
  width:23px;
  height:25px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u19373 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u19374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u19374 {
  position:absolute;
  left:806px;
  top:285px;
  width:23px;
  height:25px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
#u19375 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
