.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.fontawesome {
}
.shape {
}
.table {
}
.table_cell {
}
.box_1 {
}
.box_2 {
}
.box_3 {
}
.ellipse {
}
.image {
  color:#000000;
}
.placeholder {
}
.default_button {
}
.regular_12pt {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.537254901960784);
  text-align:left;
  line-height:16px;
}
.regular_14pt {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
  line-height:20px;
}
.regular_16pt {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
  line-height:24px;
}
.regular_24pt {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  color:rgba(0, 0, 0, 0.866666666666667);
  text-align:left;
  line-height:32px;
}
.heading_1 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:left;
}
.heading_6 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:10px;
  text-align:left;
}
.label {
  font-size:14px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.arrow {
}
.text_field {
  color:#000000;
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.droplist {
  color:#000000;
  text-align:left;
}
.list_box {
  color:#000000;
  text-align:left;
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.sticky_1 {
  text-align:left;
}
.marker {
  color:#FFFFFF;
}
.horizontal_line {
}
.tree_node {
  text-align:left;
}
.vertical_line {
}
.connector {
}
.flow_shape {
}
.table_cell1 {
  text-align:left;
}
.image1 {
  color:#000000;
}
.fontawesome1 {
}
.icon {
}
