body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2298px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:50px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11917 {
  position:absolute;
  left:180px;
  top:0px;
  width:1070px;
  height:50px;
}
#u11918 {
  position:absolute;
  left:2px;
  top:17px;
  width:1066px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1390px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u11919 {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:1390px;
  opacity:0.5;
  text-align:left;
}
#u11920 {
  position:absolute;
  left:2px;
  top:1372px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:1390px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u11921 {
  position:absolute;
  left:1238px;
  top:0px;
  width:12px;
  height:1390px;
  text-align:left;
}
#u11922 {
  position:absolute;
  left:2px;
  top:1372px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u11923 {
  position:absolute;
  left:972px;
  top:15px;
  width:33px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
}
#u11924 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u11925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11925 {
  position:absolute;
  left:940px;
  top:17px;
  width:29px;
  height:20px;
  font-size:14px;
}
#u11926 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11927 {
  position:absolute;
  left:1179px;
  top:15px;
  width:29px;
  height:20px;
  font-size:14px;
}
#u11928 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11929 {
  position:absolute;
  left:51px;
  top:78px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11930 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11931 {
  position:absolute;
  left:51px;
  top:125px;
  width:29px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11932 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u11933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11933 {
  position:absolute;
  left:51px;
  top:260px;
  width:92px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11934 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u11935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11935 {
  position:absolute;
  left:51px;
  top:483px;
  width:82px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11936 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11937 {
  position:absolute;
  left:50px;
  top:584px;
  width:82px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11938 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11939 {
  position:absolute;
  left:24px;
  top:482px;
  width:22px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11940 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u11941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:34px;
}
#u11941 {
  position:absolute;
  left:0px;
  top:537px;
  width:180px;
  height:34px;
}
#u11942 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11943 {
  position:absolute;
  left:53px;
  top:515px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11944 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11945 {
  position:absolute;
  left:53px;
  top:546px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11946 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11947 {
  position:absolute;
  left:50px;
  top:628px;
  width:82px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11948 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u11949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:51px;
}
#u11949 {
  position:absolute;
  left:-10px;
  top:0px;
  width:190px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11950 {
  position:absolute;
  left:2px;
  top:17px;
  width:186px;
  word-wrap:break-word;
}
#u11951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11951 {
  position:absolute;
  left:24px;
  top:74px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11952 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u11953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11953 {
  position:absolute;
  left:24px;
  top:121px;
  width:22px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11954 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u11955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11955 {
  position:absolute;
  left:23px;
  top:260px;
  width:18px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11956 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u11957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11957 {
  position:absolute;
  left:24px;
  top:581px;
  width:21px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11958 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u11959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11959 {
  position:absolute;
  left:23px;
  top:627px;
  width:22px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u11960 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u11961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11961 {
  position:absolute;
  left:53px;
  top:291px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11962 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11963 {
  position:absolute;
  left:53px;
  top:325px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11964 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11965 {
  position:absolute;
  left:53px;
  top:356px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11966 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11967 {
  position:absolute;
  left:53px;
  top:661px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11968 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11969 {
  position:absolute;
  left:53px;
  top:722px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11970 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11971 {
  position:absolute;
  left:53px;
  top:753px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11972 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11973 {
  position:absolute;
  left:53px;
  top:813px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11974 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11975 {
  position:absolute;
  left:53px;
  top:872px;
  width:50px;
  height:16px;
  font-size:14px;
}
#u11976 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u11977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11977 {
  position:absolute;
  left:53px;
  top:903px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11978 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11979 {
  position:absolute;
  left:53px;
  top:157px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u11980 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u11981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11981 {
  position:absolute;
  left:53px;
  top:191px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11982 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11983 {
  position:absolute;
  left:53px;
  top:964px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11984 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11985 {
  position:absolute;
  left:53px;
  top:782px;
  width:66px;
  height:16px;
  font-size:14px;
}
#u11986 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u11987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u11987 {
  position:absolute;
  left:53px;
  top:692px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u11988 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u11989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11989 {
  position:absolute;
  left:1040px;
  top:5px;
  width:90px;
  height:40px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11990 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u11991 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11992 {
  position:absolute;
  left:1040px;
  top:49px;
  width:90px;
  height:40px;
}
#u11993 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u11994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11994 {
  position:absolute;
  left:1040px;
  top:88px;
  width:90px;
  height:40px;
}
#u11995 {
  position:absolute;
  left:2px;
  top:12px;
  width:86px;
  word-wrap:break-word;
}
#u11996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11996 {
  position:absolute;
  left:1040px;
  top:0px;
  width:90px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u11997 {
  position:absolute;
  left:2px;
  top:17px;
  width:86px;
  word-wrap:break-word;
}
#u11998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11998 {
  position:absolute;
  left:51px;
  top:385px;
  width:82px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u11999 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:34px;
}
#u12000 {
  position:absolute;
  left:0px;
  top:439px;
  width:180px;
  height:34px;
}
#u12001 {
  position:absolute;
  left:2px;
  top:9px;
  width:176px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12002 {
  position:absolute;
  left:53px;
  top:417px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u12003 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12004 {
  position:absolute;
  left:53px;
  top:448px;
  width:43px;
  height:16px;
  font-size:14px;
}
#u12005 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12006 {
  position:absolute;
  left:29px;
  top:383px;
  width:12px;
  height:20px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
#u12007 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u12008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12008 {
  position:absolute;
  left:53px;
  top:223px;
  width:71px;
  height:16px;
  font-size:14px;
}
#u12009 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12010 {
  position:absolute;
  left:149px;
  top:222px;
  width:26px;
  height:16px;
  color:#FF0000;
}
#u12011 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u12012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12012 {
  position:absolute;
  left:149px;
  top:385px;
  width:26px;
  height:16px;
  color:#FF0000;
}
#u12013 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u12014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000099;
}
#u12014 {
  position:absolute;
  left:53px;
  top:1056px;
  width:79px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000099;
}
#u12015 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u12016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000099;
}
#u12016 {
  position:absolute;
  left:53px;
  top:1082px;
  width:105px;
  height:16px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  font-size:14px;
  color:#000099;
}
#u12017 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u12018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:2px;
}
#u12018 {
  position:absolute;
  left:29px;
  top:1037px;
  width:139px;
  height:1px;
}
#u12019 {
  position:absolute;
  left:2px;
  top:-8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:2px;
}
#u12020 {
  position:absolute;
  left:29px;
  top:1115px;
  width:139px;
  height:1px;
}
#u12021 {
  position:absolute;
  left:2px;
  top:-8px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12022 {
  position:absolute;
  left:53px;
  top:934px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12023 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12024 {
  position:absolute;
  left:149px;
  top:903px;
  width:26px;
  height:16px;
  color:#FF0000;
}
#u12025 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u12026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12026 {
  position:absolute;
  left:53px;
  top:844px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12027 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12028 {
  position:absolute;
  left:149px;
  top:844px;
  width:26px;
  height:16px;
  color:#FF0000;
}
#u12029 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u12030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12030 {
  position:absolute;
  left:203px;
  top:75px;
  width:49px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u12031 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u12032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1059px;
  height:2px;
}
#u12032 {
  position:absolute;
  left:180px;
  top:162px;
  width:1058px;
  height:1px;
}
#u12033 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1054px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:5px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12034 {
  position:absolute;
  left:180px;
  top:158px;
  width:106px;
  height:5px;
}
#u12035 {
  position:absolute;
  left:2px;
  top:-6px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12036 {
  position:absolute;
  left:205px;
  top:131px;
  width:57px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u12037 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12038 {
  position:absolute;
  left:313px;
  top:131px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12039 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12040 {
  position:absolute;
  left:420px;
  top:131px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u12041 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12042 {
  position:absolute;
  left:204px;
  top:185px;
  width:1006px;
  height:170px;
}
#u12043 {
  position:absolute;
  left:2px;
  top:77px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12044 {
  position:absolute;
  left:311px;
  top:229px;
  width:99px;
  height:16px;
}
#u12045 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12046 {
  position:absolute;
  left:285px;
  top:275px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12047 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u12048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12048 {
  position:absolute;
  left:408px;
  top:282px;
  width:40px;
  height:20px;
  font-size:12px;
}
#u12049 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u12050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:154px;
}
#u12050 {
  position:absolute;
  left:520px;
  top:192px;
  width:1px;
  height:153px;
}
#u12051 {
  position:absolute;
  left:2px;
  top:68px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12052 {
  position:absolute;
  left:578px;
  top:229px;
  width:71px;
  height:16px;
}
#u12053 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12054 {
  position:absolute;
  left:578px;
  top:292px;
  width:71px;
  height:16px;
}
#u12055 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12056 {
  position:absolute;
  left:808px;
  top:232px;
  width:99px;
  height:16px;
}
#u12057 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12058 {
  position:absolute;
  left:809px;
  top:290px;
  width:85px;
  height:16px;
}
#u12059 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12060 {
  position:absolute;
  left:690px;
  top:221px;
  width:17px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12061 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u12062_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12062 {
  position:absolute;
  left:690px;
  top:282px;
  width:17px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12063 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u12064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12064 {
  position:absolute;
  left:933px;
  top:221px;
  width:17px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12065 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u12066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12066 {
  position:absolute;
  left:933px;
  top:284px;
  width:17px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12067 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u12068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12068 {
  position:absolute;
  left:1050px;
  top:254px;
  width:120px;
  height:30px;
}
#u12069 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u12070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12070 {
  position:absolute;
  left:204px;
  top:375px;
  width:1006px;
  height:210px;
}
#u12071 {
  position:absolute;
  left:2px;
  top:97px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u12072 {
  position:absolute;
  left:213px;
  top:391px;
  width:29px;
  height:16px;
  font-size:14px;
}
#u12073 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u12074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12074 {
  position:absolute;
  left:255px;
  top:385px;
  width:80px;
  height:30px;
  color:#000000;
}
#u12075 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u12076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u12076 {
  position:absolute;
  left:334px;
  top:385px;
  width:80px;
  height:30px;
  color:#000000;
}
#u12077 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u12078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u12078 {
  position:absolute;
  left:413px;
  top:385px;
  width:80px;
  height:30px;
  color:#0000FF;
}
#u12079 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u12080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12080 {
  position:absolute;
  left:571px;
  top:385px;
  width:168px;
  height:30px;
}
#u12081 {
  position:absolute;
  left:2px;
  top:7px;
  width:164px;
  word-wrap:break-word;
}
#u12082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(225, 230, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12082 {
  position:absolute;
  left:492px;
  top:385px;
  width:80px;
  height:30px;
}
#u12083 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u12084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12084 {
  position:absolute;
  left:309px;
  top:459px;
  width:19px;
  height:16px;
}
#u12085 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u12086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12086 {
  position:absolute;
  left:553px;
  top:459px;
  width:19px;
  height:16px;
}
#u12087 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  white-space:nowrap;
}
#u12088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12088 {
  position:absolute;
  left:757px;
  top:459px;
  width:101px;
  height:16px;
}
#u12089 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u12090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12090 {
  position:absolute;
  left:1056px;
  top:459px;
  width:85px;
  height:16px;
}
#u12091 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12092 {
  position:absolute;
  left:274px;
  top:502px;
  width:89px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12093 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12094 {
  position:absolute;
  left:518px;
  top:502px;
  width:89px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12095 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u12096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12096 {
  position:absolute;
  left:771px;
  top:502px;
  width:73px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12097 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12098 {
  position:absolute;
  left:1062px;
  top:502px;
  width:73px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12099 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u12100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:321px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12100 {
  position:absolute;
  left:204px;
  top:584px;
  width:1006px;
  height:321px;
}
#u12101 {
  position:absolute;
  left:2px;
  top:152px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:245px;
}
#u12102 {
  position:absolute;
  left:227px;
  top:635px;
  width:182px;
  height:245px;
}
#u12103 {
  position:absolute;
  left:2px;
  top:114px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:762px;
  height:245px;
}
#u12104 {
  position:absolute;
  left:409px;
  top:635px;
  width:762px;
  height:245px;
}
#u12105 {
  position:absolute;
  left:2px;
  top:114px;
  width:758px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12106 {
  position:absolute;
  left:1034px;
  top:619px;
  width:49px;
  height:16px;
}
#u12107 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u12106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12108 {
  position:absolute;
  left:1115px;
  top:619px;
  width:49px;
  height:16px;
}
#u12109 {
  position:absolute;
  left:16px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u12108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12110 {
  position:absolute;
  left:285px;
  top:609px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12111 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1006px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12112 {
  position:absolute;
  left:1288px;
  top:185px;
  width:1006px;
  height:170px;
}
#u12113 {
  position:absolute;
  left:2px;
  top:77px;
  width:1002px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:154px;
}
#u12114 {
  position:absolute;
  left:1604px;
  top:192px;
  width:1px;
  height:153px;
}
#u12115 {
  position:absolute;
  left:2px;
  top:68px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12116 {
  position:absolute;
  left:1662px;
  top:229px;
  width:71px;
  height:16px;
}
#u12117 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12118 {
  position:absolute;
  left:1662px;
  top:292px;
  width:71px;
  height:16px;
}
#u12119 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12120 {
  position:absolute;
  left:1892px;
  top:232px;
  width:99px;
  height:16px;
}
#u12121 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u12122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12122 {
  position:absolute;
  left:1893px;
  top:290px;
  width:85px;
  height:16px;
}
#u12123 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12124 {
  position:absolute;
  left:1774px;
  top:221px;
  width:17px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12125 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u12126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12126 {
  position:absolute;
  left:1774px;
  top:282px;
  width:17px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12127 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u12128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12128 {
  position:absolute;
  left:2017px;
  top:221px;
  width:17px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12129 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u12130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12130 {
  position:absolute;
  left:2017px;
  top:284px;
  width:17px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u12131 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u12132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12132 {
  position:absolute;
  left:2134px;
  top:254px;
  width:120px;
  height:30px;
}
#u12133 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u12134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:37px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u12134 {
  position:absolute;
  left:1365px;
  top:250px;
  width:160px;
  height:37px;
  font-size:12px;
}
#u12135 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u12136_img {
  position:absolute;
  left:-10px;
  top:-2px;
  width:25px;
  height:85px;
}
#u12136 {
  position:absolute;
  left:1870px;
  top:375px;
  width:5px;
  height:73px;
}
#u12137 {
  position:absolute;
  left:2px;
  top:28px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12138 {
  position:absolute;
  left:1299px;
  top:493px;
  width:241px;
  height:28px;
}
#u12139 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u12140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12140 {
  position:absolute;
  left:1299px;
  top:563px;
  width:559px;
  height:22px;
}
#u12141 {
  position:absolute;
  left:0px;
  top:0px;
  width:559px;
  white-space:nowrap;
}
#u12142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1014px;
  height:439px;
}
#u12142 {
  position:absolute;
  left:1294px;
  top:605px;
  width:1014px;
  height:439px;
}
#u12143 {
  position:absolute;
  left:2px;
  top:212px;
  width:1010px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12144 {
  position:absolute;
  left:1301px;
  top:1054px;
  width:150px;
  height:40px;
}
#u12145 {
  position:absolute;
  left:2px;
  top:12px;
  width:146px;
  word-wrap:break-word;
}
#u12146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12146 {
  position:absolute;
  left:1288px;
  top:110px;
  width:161px;
  height:37px;
}
#u12147 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
