body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1057px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:30px;
  width:1032px;
  height:331px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u3 {
  position:absolute;
  left:109px;
  top:0px;
  width:245px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:241px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:30px;
}
#u5 {
  position:absolute;
  left:354px;
  top:0px;
  width:417px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:413px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:30px;
}
#u7 {
  position:absolute;
  left:771px;
  top:0px;
  width:256px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:252px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:51px;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:51px;
}
#u10 {
  position:absolute;
  left:2px;
  top:18px;
  width:105px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:51px;
}
#u11 {
  position:absolute;
  left:109px;
  top:30px;
  width:245px;
  height:51px;
}
#u12 {
  position:absolute;
  left:2px;
  top:18px;
  width:241px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:51px;
}
#u13 {
  position:absolute;
  left:354px;
  top:30px;
  width:417px;
  height:51px;
}
#u14 {
  position:absolute;
  left:2px;
  top:10px;
  width:413px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:51px;
}
#u15 {
  position:absolute;
  left:771px;
  top:30px;
  width:256px;
  height:51px;
}
#u16 {
  position:absolute;
  left:2px;
  top:18px;
  width:252px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:49px;
}
#u17 {
  position:absolute;
  left:0px;
  top:81px;
  width:109px;
  height:49px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:49px;
}
#u19 {
  position:absolute;
  left:109px;
  top:81px;
  width:245px;
  height:49px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:241px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:49px;
}
#u21 {
  position:absolute;
  left:354px;
  top:81px;
  width:417px;
  height:49px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:413px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
}
#u23 {
  position:absolute;
  left:771px;
  top:81px;
  width:256px;
  height:49px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:49px;
}
#u25 {
  position:absolute;
  left:0px;
  top:130px;
  width:109px;
  height:49px;
}
#u26 {
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:49px;
}
#u27 {
  position:absolute;
  left:109px;
  top:130px;
  width:245px;
  height:49px;
}
#u28 {
  position:absolute;
  left:2px;
  top:16px;
  width:241px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:49px;
}
#u29 {
  position:absolute;
  left:354px;
  top:130px;
  width:417px;
  height:49px;
}
#u30 {
  position:absolute;
  left:2px;
  top:16px;
  width:413px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
}
#u31 {
  position:absolute;
  left:771px;
  top:130px;
  width:256px;
  height:49px;
}
#u32 {
  position:absolute;
  left:2px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:49px;
}
#u33 {
  position:absolute;
  left:0px;
  top:179px;
  width:109px;
  height:49px;
}
#u34 {
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:49px;
}
#u35 {
  position:absolute;
  left:109px;
  top:179px;
  width:245px;
  height:49px;
}
#u36 {
  position:absolute;
  left:2px;
  top:16px;
  width:241px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:49px;
}
#u37 {
  position:absolute;
  left:354px;
  top:179px;
  width:417px;
  height:49px;
}
#u38 {
  position:absolute;
  left:2px;
  top:16px;
  width:413px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
}
#u39 {
  position:absolute;
  left:771px;
  top:179px;
  width:256px;
  height:49px;
}
#u40 {
  position:absolute;
  left:2px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:49px;
}
#u41 {
  position:absolute;
  left:0px;
  top:228px;
  width:109px;
  height:49px;
}
#u42 {
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:49px;
}
#u43 {
  position:absolute;
  left:109px;
  top:228px;
  width:245px;
  height:49px;
}
#u44 {
  position:absolute;
  left:2px;
  top:16px;
  width:241px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:49px;
}
#u45 {
  position:absolute;
  left:354px;
  top:228px;
  width:417px;
  height:49px;
}
#u46 {
  position:absolute;
  left:2px;
  top:16px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
}
#u47 {
  position:absolute;
  left:771px;
  top:228px;
  width:256px;
  height:49px;
}
#u48 {
  position:absolute;
  left:2px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:49px;
}
#u49 {
  position:absolute;
  left:0px;
  top:277px;
  width:109px;
  height:49px;
}
#u50 {
  position:absolute;
  left:2px;
  top:16px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:49px;
}
#u51 {
  position:absolute;
  left:109px;
  top:277px;
  width:245px;
  height:49px;
}
#u52 {
  position:absolute;
  left:2px;
  top:16px;
  width:241px;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:49px;
}
#u53 {
  position:absolute;
  left:354px;
  top:277px;
  width:417px;
  height:49px;
}
#u54 {
  position:absolute;
  left:2px;
  top:16px;
  width:413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:49px;
}
#u55 {
  position:absolute;
  left:771px;
  top:277px;
  width:256px;
  height:49px;
}
#u56 {
  position:absolute;
  left:2px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
